.qnaManagement-body {
    margin: 0;
    background: #ffffff;
}

.qnaManagement-container {
    width: 1300px;
    margin: 40px auto;
    background: #c9cfe0;
    padding: 30px;
   
}

.qnaManagement-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qnaManagement-title {
    background: #6b83d6;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
   
}
/*상단메뉴*/
.qnaManagement-menu1 {
    display: flex;
    gap: 40px;
}

.qnaManagement-menu1 a {
    background: #6b83d6;
    color: white;
    padding: 10px 25px;
    border-radius: 6px;
    text-decoration: none;
   
}

.qnaManagement-menu1 a:hover {
    background: #5569c1;
}

.qnaManagement-logout {
    padding: 6px 12px;
  
}

.qnaManagement-logout:hover {
    background: #dcdcdc;
}

.qnaManagement-main {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.qnaManagement-leftbar {
    width: 200px;
    background: #adbbdb;
    padding-top: 20px;
}

.qnaManagement-left-item {
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    color: #222;
}

.qnaManagement-left-item:hover {
    background: #949fca;
    color: white;
}

.qnaManagement-real {
    background: #8a8a8a;
    color: white;
    font-weight: 700;
    cursor: default;
    user-select: none;
}
/* 오른쪽 영역 */

.expo-content{
flex:1;
background:white;
padding:30px;
}


/* 탭 */

.expo-tab{
display:flex;
margin-bottom:20px;
}

.expo-tab-item{
flex:1;
background:#e6e6e6;
padding:15px;
text-align:center;
cursor:pointer;
}

.expo-tab-item.real{
background:white;
font-weight:bold;
}


/* 제목 */

.expo-title{
margin:20px 0;
}


/* 테이블 */

.expo-table{
width:100%;
}

.expo-row{
display:flex;
padding:12px 0;
border-bottom:1px solid #ddd;
text-align:center;
}

.expo-row div{
flex:1;
}

.expo-head{
font-weight:bold;
background:#f2f2f2;
}


/* 입력 폼 */

.expo-form{
margin-top:40px;
cursor:pointer;
}

.form-row{
display:flex;
align-items:center;
margin-bottom:15px;
gap:10px;
}

.form-row label{
width:120px;
}

.form-row input{
height:35px;
flex:1;
}


/* 회사 입력 */

.company-input{
margin-top:30px;
}

.company-input input{
width:200px;
height:35px;
}

.company-input button{
margin-left:10px;
background:#6b83d6;
border:none;
color:white;
padding:8px 20px;
}


/* 회사 목록 */

.company-list{
margin-top:20px;
border-top:1px solid #aaa;
border-bottom:1px solid #aaa;
padding:15px 0;
}

.company-list p{
margin:10px 0;
}


/* 버튼 */

.form-btn{
display:flex;
justify-content:center;
gap:20px;
margin-top:30px;
}

.save{
background:#6b83d6;
border:none;
color:white;
padding:10px 30px;
cursor:pointer;
}

.reset{
background:#d67b7b;
border:none;
color:white;
padding:10px 30px;

}