.body{
margin:0;
background:#ffffff;
/**/font-family:sans-serif;
}
.container{
margin:40px auto;
padding:30px;
width:1300px;
background:#c9cfe0;
}


/* -------------------------상단 헤더-------------------- */
/* .top{
display:flex;
align-items:center;
justify-content:space-between;
} */
/* 로그아웃 버튼 */
.justlogout{
  display:flex;
}
.logout{
background:#f2f2f2;
padding:6px 12px;
margin-left: auto;
/**/cursor:pointer;
/**/border:1px solid #888;
/**/border-radius:8px;
}
/**/.logout:hover{
background:#dcdcdc;
}/*조금은 내 생각관 다름 그치만 좋은 듯*/





/* 왼쪽 영역 */
.header-left{
display:flex;
gap:30px;/*공통으로 맞출것*/
/**/align-items:center;
}

/*관리자페이지*/
.title{
width:140px;/*공통으로 맞출것*/
background:#6b83d6;
color:white;
text-align: center;
margin-bottom: 20px;/*이것만 밑에랑 간격띄게끔*/
/**/padding:12px 35px;/*공통으로 맞출것*/
box-sizing: content-box;/*공통으로 맞출것*/
/**/border-radius:8px;
/**/font-weight:bold;
}

/*메뉴모음집*/
.menu1{
flex:1;
display:flex;/*이걸 써야 밑(자식)에께 의미가 있어짐*/
/* gap:350px;이거 간격 !!!!!!!! 조정해볼것!!!!!!!! */
/**/justify-content:space-around;
background:#6b83d6;
margin-bottom: 20px;/*이것만 밑에랑 간격띄게끔*/
/**/padding:12px 35px;/*공통으로 맞출것*/
/**/border-radius:8px;
}
.menu1 a{
color:white;
text-decoration:none;/*밑줄제거*/
/**/font-weight:bold;
}







/* ----------------------메인 영역 ---------------------*/
.main{
display:flex;
gap:30px;
/**//* margin-top:20px; */
}



/* 왼쪽 사이드바 */
.m-leftbar{
width:210px;/*140+35+35*/
background:#adbbdb;
box-sizing: content-box;
}

.aaa{
background:#8a8a8a;
color:white;
font-weight:700;
/*?*/cursor:default;
/*?*/user-select:none;
}
.m-left-item{
margin-bottom:10px;
text-align:center;
border-radius:4px;
color:#222;
/**/padding:12px 35px;/*공통으로 맞출것*//*이게 킥*/
/*?*/cursor:pointer;
}
.m-left-item:hover{
background:#949fca;
color:white;
}






















body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#e7edf7;
}

.container{
    width:1200px;
    margin:40px auto;
    background:#efefef;
    padding:40px;
    border-radius:5px;
}

h1{
    font-size:32px;
    margin-bottom:40px;
}

.top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.subtitle{
    font-size:20px;
    font-weight:bold;
}

.list-btn{
    background:#7b83e6;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th, td{
    border:1px solid #cfcfcf;
    padding:14px;
    font-size:18px;
}

th{
    width:200px;
    background:#dcdcdc;
    text-align:center;
}

td{
    background:#f6f6f6;
}

.button-area{
    margin-top:80px;
    text-align:right;
}

.approve{
    background:#1c33e6;
    color:white;
    border:none;
    padding:10px 18px;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
}

.reject{
    background:#9e9e9e;
    color:white;
    border:none;
    padding:10px 18px;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
}