.body{
margin:0;
background:#ffffff;
/**/font-family:sans-serif;
}
.container{
margin:40px auto;
padding:30px;
width:1300px;
background:#c9cfe0;
}


/* -------------------------상단 헤더-------------------- */
/* .top{
display:flex;
align-items:center;
justify-content:space-between;
} */
/* 로그아웃 버튼 */
.justlogout{
  display:flex;
}
.logout{
background:#f2f2f2;
padding:6px 12px;
margin-left: auto;
/**/cursor:pointer;
/**/border:1px solid #888;
/**/border-radius:8px;
}
/**/.logout:hover{
background:#dcdcdc;
}/*조금은 내 생각관 다름 그치만 좋은 듯*/





/* 왼쪽 영역 */
.header-left{
display:flex;
gap:30px;/*공통으로 맞출것*/
/**/align-items:center;
}

/*관리자페이지*/
.title{
width:150px;/*공통으로 맞출것*/
background:#6b83d6;
color:white;
text-align: center;
margin-bottom: 20px;/*이것만 밑에랑 간격띄게끔*/
/**/padding:12px 35px;/*공통으로 맞출것*/
box-sizing: content-box;/*공통으로 맞출것*/
/**/border-radius:8px;
/**/font-weight:bold;
}

/*메뉴모음집*/
.menu1{
flex:1;
display:flex;/*이걸 써야 밑(자식)에께 의미가 있어짐*/
/* gap:350px;이거 간격 !!!!!!!! 조정해볼것!!!!!!!! */
/**/justify-content:space-around;
background:#6b83d6;
margin-bottom: 20px;/*이것만 밑에랑 간격띄게끔*/
/**/padding:12px 35px;/*공통으로 맞출것*/
/**/border-radius:8px;
}
.menu1 a{
color:white;
text-decoration:none;/*밑줄제거*/
/**/font-weight:bold;
}







/* ----------------------메인 영역 ---------------------*/
.main{
display:flex;
gap:30px;
/**//* margin-top:20px; */
}



/* 왼쪽 사이드바 */
.m-leftbar{
width:220px;/*140+35+35*/
background:#adbbdb;
box-sizing: content-box;
}

.aaa{
background:#8a8a8a;
color:white;
font-weight:700;
/*?*/cursor:default;
/*?*/user-select:none;
}
.m-left-item{
margin-bottom:10px;
text-align:center;
border-radius:4px;
color:#222;
/**/padding:12px 35px;/*공통으로 맞출것*//*이게 킥*/
/*?*/cursor:pointer;
}
.m-left-item:hover{
background:#949fca;
color:white;
}
















/* 오른쪽 콘텐츠

.qnaManagement-content{
flex:1;
background:white;
min-height:500px;
padding:30px;
} */



/* 오른쪽 콘텐츠 */

.m-right{
flex:1;
background:white;

/**/padding:12px 35px;/*공통으로 맞출것*/
/* height: 1300px;테스트 였던거임 */
}




/* 제목 */

.content-title{
margin-bottom:20px;
}


/* 검색 영역 */

.search-box{
display:flex;
align-items:center;
gap:10px;
margin-bottom:20px;
}

.search-box select,
.search-box input{
padding:5px;
}

.search-btn{
padding:5px 10px;
cursor:pointer;
}


/* 테이블 */

.member-table{
width:100%;
border-collapse:collapse;
text-align:center;
}

.member-table th{
border-bottom:2px solid #ccc;
padding:10px;
}

.member-table td{
padding:10px;
border-bottom:1px solid #eee;
}


/* 삭제 버튼 */

.delete-btn{
background:#f26c6c;
border:none;
color:white;
padding:5px 12px;
border-radius:4px;
cursor:pointer;
}

.delete-btn:hover{
background:#e05555;
}


/* 페이지네이션 */

.pagination{
margin-top:25px;
text-align:center;
}

.pagination span,
.pagination a{
margin:0 6px;
cursor:pointer;
}

.pagination .active{
font-weight:bold;
}